{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="heading-blogs"><p>BLOG POSTS</p></div>
{% for post in posts %}
<div class="item">
    <div class="c_img"><img src="media/{{post.image_file}}" alt="" /></div>
    <div class="c-button"><p class="header">{{post.title}}</p></a></div>
    <div class="c-button"><p style="font-size:15px;font-weight:500;color:black;">{{post.description}}</p></div>
    <div class="c-button"><p style="font-size:15px;font-weight:600;color:black;">{{post.date_posted}}</p></div>
</div>
{% endfor %}
</div> 
{% endblock %}